<!--
  Generated template for the ProductDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="productDetails">{{productDetails.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="containResult">
    <ion-slides pager="true">
      <ion-slide *ngFor="let picture of productDetails.images">
        <!-- <img src={{picture.url_zoom}} alt=""> -->
        <!-- <img [defaultImage]="defaultImage" lazyLoad={{picture.url_zoom}}> -->
        <img src="{{picture.url_zoom}}" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
        <ion-spinner [ngClass]="{'center':true}" *ngIf="!loaded"></ion-spinner>

      </ion-slide>
    </ion-slides>

    <ion-grid padding-left>
      <ion-row>
        <div class="productTitle">
          {{productDetails.name}}
        </div>
      </ion-row>
      <ion-row padding-top>
        <ion-item>
          Price
          <label item-end>
            {{productDetails.price | currency}}
          </label>
        </ion-item>
      </ion-row>


      <!-- <ion-row padding-top>
        {{productDetails.price | currency}}
      </ion-row> -->
      <ion-row>
        <ion-item>
          Quantity
          <button ion-button item-end (click)="onSelectQuantity()" style="width:20%">
            {{quantity}}
          </button>
        </ion-item>
      </ion-row>
      <ion-row padding-top>
        <ion-item>
          Description

          <div padding-top [innerHTML]="productDetails.description"></div>

        </ion-item>

      </ion-row>


    </ion-grid>



  </div>
  <!-- <ion-row>
    <div class="addToCart">
      <button ion-button full (click)="onAddToCart()">
        <ion-icon name="cart">
          Add To Cart

        </ion-icon>
      </button>

    </div>
  </ion-row> -->
</ion-content>
<ion-footer no-border>
  <button ion-button full (click)="onAddToCart()">
    <ion-icon name="cart">
      Add To Cart
    </ion-icon>
  </button>
</ion-footer>
