<!-- <ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <ion-slides *ngIf="banners && banners.length" pager="true" autoplay="3000" loop="true" effect="flip" speed="3000">
    <ion-slide *ngFor="let banner of banners">
      <img src={{banner.src}} height="100px">
    </ion-slide>
  </ion-slides>
  <ion-grid *ngIf="categories?.length > 1">
    <ion-row *ngFor="let category of categories">
      <div class="background middle-text" padding [style.background-image]="'url(' + category.image_file + ')'" (click)="viewProducts(category.id,category.name)">
        <h2>{{category.name}}</h2>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>