page-profile {}

.profilePicture {
  display: inline-block;
  width: auto;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: auto;
}

.storeAmount {
  text-align: right;
  color: #3f008e;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

.store-credit {
  color: #3f008e;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

.accessCode {
  text-align: right;
  font-weight: bold;
}
