page-verify-number {
  .toolbar-background {
    background-color: #3f008e;
  }
  .toolbar-title {
    color: white;
  }
  .back-button {
    color: white;
  }
  .flag-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
  }
  .flag {
    outline: 0.5px solid grey;
    height: 50px !important;
    width: 50px !important;
  }
  .ion-input {}
}

.numberHeader {
  font-size: 2em;
  margin-top: 35%;
}

.phoneNumber {
  font-size: 1.5em;
}

.flag-span {
  display: flex;
  /*Uncomment below to center horizontally*/
  justify-content: center;
  align-items: center;
}

.validateMessage {
  color: red;
  font-size: 0.7em;
}
