page-product-categories {
  .toolbar-background {
    background-color: #3f008e;
  }
  .toolbar-title {
    color: white;
  }
  .back-button {
    color: white;
  }
}

.gridRow {
  border-style: solid;
  border-width: 0.1px;
  border-color: #e5e5e5;
}

.productPrice {
  font-weight: bold;
}

.img-loaded+ion-spinner {
  display: none;
} // .center in my case to make the spinner at the center
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
