page-cart {
  .productDetails {
    font-size: 12px;
  }
}

.totalAmount {
  text-align: right;
  float: right;
}

.toolbar-background {
  background-color: white
}

.validateOrderButton {
  color: red;
}
